h1 {
	text-align:center; 
}

td{
	width: 150px;
    height: 150px;
}

table{
	margin: 5px auto;
}

.top {
	border-left: solid;
	border-right: solid;
}

.middle {
	border: solid;
}

.side {
	border-top: solid;
	border-bottom: solid;
}

.cell {
    text-align:center;
    font-size:40pt;
}